{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/utils/header.css') }}" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/utils/tricounts_list.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/home_page.css') }}" type="text/css">
{% endblock %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% include 'utils/header.html.twig' %}

    <main class="main">
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
            <div class="tricounts_list_container">
                {% include 'utils/tricounts_list.html.twig' with {'tricountArray': user_tricounts } %}
            </div>
        {% endif %}

        <a href="{{ path('createtricounts') }}">Créer un tricount</a>

    </main>
{% endblock %}

